* {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 30px;
    background-color: black;
    width: fit-content;
}

label {
    background-color: black;
    width: fit-content;
}

#div_resultado {
    background-color: black;
    width: fit-content;
}

body {
    background-image: url(https://static.wikia.nocookie.net/mundo-animal/images/b/bd/Mus.jpg/revision/latest/scale-to-width-down/605?cb=20140513233051&path-prefix=pt);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    padding: 50px;
}

.container {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: 20px;
}

.container input {
    width: 40%;
}

#div_continuar {
    display: none;
    gap: 10px;
}

img {
    width: 450px;
}

button {
    background-color: #f8c091;
    padding: 5px;
    border: solid black 2px;
    border-radius: 5px;
    width: 40%;
    margin-bottom: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #ff9d4c;
    transition: 0.7s;
}

.dado {
    display: flex;
    background-color: #85fa85;
    border: black solid 2px;
    border-radius: 2px;
    font-size: 0.5px;
    width: 30px;
    height: 30px;
    justify-content: center;
    color: #85fa85;
}

.selecionado {
    background-color: red;
    z-index: 5;
}

.matriz {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 5px;
    width: 240px;
}